/*
* @Author: cyw
* @Date:   2018-08-06 15:33:16
* @Last Modified by:   cyw
* @Last Modified time: 2018-08-06 18:34:48
*/
*{
	margin: 0;
	padding: 0;
}
.box{
	width: 1226px;
	height: 1500px;
	background:black;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
	flex-wrap: wrap;
}
.touzi{
	width: 99px;
	height: 99px;
	background: #e3e1e1;
	display: flex;
	border-radius: 5px; 
	

}
.cir{
	width: 33px;
	height: 33px;
	background: black;
	border-radius: 50%;

}
.t1{
	justify-content: center;
}
.t2{
	justify-content: flex-end;
}
.t3{
	flex-direction: column;
	justify-content: center;
}
.t4{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.t5{
	justify-content: center;
	align-items: flex-end;
}
.t6{
	justify-content: flex-end;
	align-items: flex-end;
}
.t7{
	justify-content: space-between;

}
.t8{
	flex-direction: column;
	justify-content: space-between;
}
.t9{
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.t10{
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

}
.t11 .cir:nth-child(2){
	/* justify-content: center; */
	align-self: center;
}
.t12{
	justify-content: space-between;
}
.t12 .cir:nth-child(2){
	align-self: flex-end;
}
.t13 .cir:nth-child(2){
	align-self: center;
}
.t13 .cir:nth-child(3){
	align-self: flex-end;
}
.t14{
	flex-wrap: wrap;

	justify-content: flex-end;
	/* align-self: flex-end; */
	align-content: : space-between;
}
.t15{
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;

}
.column{

	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	
}
.column:nth-child(2){
	align-items: flex-end;
}

.t16{
	flex-wrap: wrap;
	align-content: space-between;
}
.t17{
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;	
}
.t18{
	flex-wrap: wrap;

}
.row{
	flex-basis: 100%;
	/* justify-content: space-between; */
    display:flex;
}
.row:nth-child(2){
  justify-content: center;
}

.row:nth-child(3){
  justify-content: space-between;
}
.t19{
	flex-wrap: wrap;
	
}